header{
    width: 100%;
    height: 100px;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 20px;
    padding: 10px 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.FaSun{
    color: aliceblue;
}

@media (max-width: 480px){
    header{
        width: 100%;
    }
}