.toggle{
    width: 50px;
    height: 24px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.toggle.on{
    background-color: #4caf50;
}
.knob{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.5s;
}
.toggle.on .knob{
    left: 28px;
}
